body {
    background-color: black;
    color: #f7f2ef;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(avery.mp4) no-repeat;
    background-size: cover;
}

.up-arrow {
  opacity: 80%;
  width: 3em;
  position: fixed;
  float: right;
  z-index: 100;
  top: 98%;
  left: 98%;
  -ms-transform: translateX(-98%) translateY(-95%);
  -moz-transform: translateX(-98%) translateY(-95%);
  -webkit-transform: translateX(-98%) translateY(-95%);
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -50px 0 0 -40px;
  border: 10px solid #2b2d30;
  border-radius: 50%;
  border-top: 10px solid #6f747c;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader-wait {
    display: none;
}

#top {
  top: 1% !important;
}
.title {
    margin-top: 9em;
    margin-left: 1em;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 2.5em;
}

li {
    margin-left: 1em;
    list-style-type: none;
    display: inline;
}

li>a {
    color: #f7f2ef;
    margin-left: 0em;
    font-style: italic;
    font-size: 1.2em;
    text-decoration: none;
}

nav {
    margin-top: -3em;
    margin-left: 5em;
    top: 10px;
}

.media-titles {
    text-align: left !important;
    margin: .8em;
    padding-top: 2em;
}

.section {
    margin: 0 auto;
    margin-top: 8em;
    background-color: rgba(1, 20, 15, .6);
    height: auto;
    min-height: 500px;
    max-width: 99.5%;
}

.about-section {
    margin-top: 28em;
}

.media-section {
    margin-top: 5em;
    text-align: center;
}

.footer-section {
  min-height: 3em !important;
  max-height: 3em !important;
  padding-bottom: 3em;
}

.video-container {
    margin: 0 auto;
}

.vid-thumbnail {
    max-width:  100%;
    max-height: 100%;
    margin-top: 1.5em;
}

.video-wrap {
    max-width: 90%;
    margin: auto;
}

.sc-wrap {
    padding-bottom: 3em;
}

.bio {
    font-size: 1em;
    font-size: 1.5em;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 4em;
    padding-bottom: 1.5em;
    color: white;
    opacity: 0.8;
}

.yt {
    margin: 1em;
    display: inline;
}

.yt-link {
    color: #f7f2ef;
}

.tour-widget {
    padding-bottom: 1em;
}

.social-links {
    text-align: center;
    font-size: 3em;
    margin-left: 0;
    margin-right: 2em;
    text-decoration: underline;
}
#email-link {
    text-align: center !important;
    font-style: italic;
}
#email-fix {
    color: #f7f2ef !important;
    margin-left: 1em;
    font-size: 2.5em;
    font-weight: 300;
}
@media (max-width: 601px) {
    body {
      max-width: 100%;
      background-image: url(./resources/bg_low.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
    }

    h1 {
      font-size: 1.1em;
        }

    li {
      display: block;
      margin: 0 auto;
      padding-left: 0em !important;
    }

    .section {
      max-width: 100%;
      min-width: 100% !important;
    }

    .title {
      margin: 0 auto;
      margin-left: .5em;
      margin-top: 7em;
    }


    .nav-ul {
      padding-left: 0em;
      font-size: 1.5em;
    }

    .nav-links {
      margin: 0 auto;
      text-align: center;
    }

    .bio {
      padding-top: 2em;
      margin-left: 1em;
      margin-right: 1em;
    }

    #bgvid {
        display: none !important;
    }
}
