body {
background-color: black;
font-family: 'Roboto', sans-serif;
-webkit-overflow-scrolling: touch;
scroll-behavior: smooth;
overflow-x: scroll;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(avery.mp4) no-repeat;
    background-size: cover;
}

.title {
    margin-top: 9em;
    margin-left: 1em;
    color: white;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 2.5em;
}

li {
    list-style-type: none;
    margin: .5em;
}
li > a{
    margin-left: 1em;
    margin-top: 0.5em;
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.8em;
    text-decoration: none;
}

nav {
    margin-top: -1em;
}

.media-titles {
    text-align: left !important;
    color: white;
    margin: .8em;
    padding-top: 2em;
}

.section {
    margin: 0 auto;
    margin-top: 15em;
    background-color:rgba(1,20,15,.6);
    max-width: 99.5%;
    height: auto;
}
.about-section {
    margin-top: 15em;
}

.media-section {
    margin-top: 5em;
    text-align: center;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
margin: 0 auto;
margin-top: 2em;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.video-wrap {
    max-width: 90%;
    margin: auto;
}
.bio {
    font-size: 1em;
    font-size: 1.5em;
    font-style: italic;
    margin-left: 3em;
    margin-right: 3em;
    padding-bottom: 2em;
    color: white;
    opacity: 0.8;
}

.yt {
    margin: 1em;
    display: inline;
}
